<!-- views/user.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <%- include("./header.ejs") %>
    <title>Users</title>
    <link href="/css/allUsers.css" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div class="container">
      <h1>All Users</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <button onclick="location.href='/api/home'">Go to Home</button>
    <footer>
      <%- include("./footer.ejs") %>
    </footer>
  </body>
</html>
