<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/updateUser.css" rel="stylesheet" type="text/css">
    <title>Update User</title>
</head>
<body>
    <div class="container">
        <h1>Update User</h1>
        <form method="POST" action="/api/users/update/"+this.value>
            <label for="users">Select a user:</label>
            <select id="users" name="user_id" onchange="this.form.action='/api/users/update/'+this.value;
             document.getElementById('name').value=this.options[this.selectedIndex].dataset.name;
              document.getElementById('email').value=this.options[this.selectedIndex].dataset.email;
               document.getElementById('password').value=this.options[this.selectedIndex].dataset.password;">
              <% users.forEach(function(user) { %>
                <option value="<%= user.id %>" data-name="<%= user.name %>" data-email="<%= user.email %>"
                   data-password="<%= user.password %>">
                   <%= user.name %>
                </option>
              <% }); %>
            </select>
            <br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="">
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="">
            <br>
            <input type="submit" value="Update User">
        </form>
    </div>
</body>
</html>
